<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:replace="~{fragments/head :: head}"></span>
<head>
    <title>Update Product Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="container is-fluid">
<div class="container is-desktop mt-6">
     <div class="is-flex is-justify-content-space-between	 ">
            <h1 class="title  has-text-weight-bold"> Product Update Form</h1>
    <a class="button is-ghost" th:href="@{/retail}">Back to Products List</a>
    </div>
<form   class="columns is-variable is-multiline is-1-mobile is-0-tablet is-2-desktop " action="#" th:action="@{/retail/form}" th:object="${product}" method="post">
    <!--Add hidden field to handle update-->
    <input type="hidden" th:field="*{id}">
  <div class="column is-half">
        <label for="productName" class="has-text-weight-bold my-4">Product Name</label>
    <input type="text" id="productName" th:field="*{productName}" placeholder="Product Name" class="input  ">
  </div>
      <div class="column is-half">
        <label for="productCode" class="has-text-weight-bold my-4">Product Code</label>
    <input type="text" id="productCode" th:field="*{productCode}" placeholder="Product Code" class="input  ">
  </div>
     <div class="column is-half">
            <label for="productPrice" class="has-text-weight-bold my-4">Product Price ( <span>&#8373;</span>)</label>
    <input type="number" id="productPrice" th:field="*{productPrice}" placeholder="Product Price" class="input  ">
        </div>
   <div class="column is-half">
            <label for="productUnit" class="has-text-weight-bold my-4">Product Unit</label>

    <input type="number" id="productUnit" th:field="*{productUnit}" placeholder="Product Unit" class="input  ">
   </div>

    <div class="column">
            <input type="submit" value="Update product" class="button is-info py-2">
    </div>
</form>

</div>
</body>
</html>